@charset "UTF-8";
/* 重設*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table, tr, td {
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

button:focus, button:active, a:focus, a:active {
  outline: none !important;
}

/* 變數 */
/* 共用設定 */
* {
  font-family: 'Roboto', Microsoft JhengHei, sans-serif;
  font-weight: 300;
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.mb-1em {
  margin-bottom: 16px;
}

.mb-2em {
  margin-bottom: 32px;
}

.mb-3em {
  margin-bottom: 48px;
}

/* 原子 */
.title {
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  font-style: italic;
  font-weight: normal;
}

.titleWhite {
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  color: #fff;
}

.describe {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.describeWhite {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #FFF;
}

/* 組織 */
header {
  position: relative;
  height: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

header .header__bg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  max-width: 1920px;
}

header .header__container h1 {
  margin-bottom: 32px;
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  line-height: 94px;
  color: #fff;
}

header .header__container h1 span {
  display: block;
  font-size: 24px;
  height: 28px;
  line-height: 48px;
}

header .header__container .describeWhite {
  margin-bottom: 64px;
}

header .header__container .mediaList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header__container .mediaList li {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

header .header__container .mediaList li a {
  display: block;
}

header .header__container .mediaList li:last-child {
  margin-right: 0;
}

.about {
  margin-bottom: 56px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .title {
  margin-bottom: 40px;
}

.about img {
  margin-bottom: 24px;
}

.about .about__human {
  padding-bottom: 32px;
  margin-bottom: 34px;
  border-bottom: 1px solid #000000;
}

.about .about__human .describe {
  margin-bottom: 8px;
}

.about .about__human .describe:last-child {
  margin-bottom: 0;
}

.about .about__list li {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-bottom: 32px;
}

.about .about__list li::before {
  content: '';
  display: inline-block;
  vertical-align: center;
  width: 22px;
  height: 22px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: #891818;
}

.brand {
  background-color: #000;
  margin-bottom: 72px;
  padding-top: 64px;
  padding-bottom: 160px;
}

.brand .describeWhite {
  font-weight: normal;
}

.brand .describeWhite:nth-child(3) {
  font-size: 20px;
}

.brand .brand__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand .brand__list li:first-child {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.brand .brand__list li:nth-child(2) {
  margin-right: 24px;
}

.work {
  position: relative;
  padding-bottom: 160px;
}

.work .work__bg {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.work .title {
  margin-bottom: 24px;
}

.work .describe {
  font-weight: normal;
  font-size: 20px;
}

.work .work__list {
  width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work .work__list li {
  margin-bottom: 58px;
}

.work .work__list li:nth-child(6), .work .work__list li:nth-child(7), .work .work__list li:nth-child(8) {
  margin-bottom: 0;
}

.work .work__list .describeWhite {
  height: 28px;
  font-size: 20px;
  font-weight: normal;
}

footer {
  padding-top: 64px;
  padding-bottom: 80px;
  background-color: #000;
}

footer .describeWhite {
  font-weight: normal;
  line-height: 36px;
}
/*# sourceMappingURL=index.css.map */