@charset "UTF-8";
/* 重設*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table, tr, td {
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

button:focus, button:active, a:focus, a:active {
  outline: none !important;
}

/* 變數 */
/* 共用設定 */
* {
  font-family: 'Roboto', Microsoft JhengHei, sans-serif;
  font-weight: 300;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

/* 原子 */
.title {
  padding-bottom: 8px;
  font-size: 32px;
  line-height: 45px;
  font-weight: 500;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}

.title span {
  font-size: 24px;
  line-height: 32px;
  margin-left: 16px;
}

.title span {
  color: #A00404;
}

.titleWhite {
  padding-bottom: 8px;
  font-size: 32px;
  line-height: 45px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
}

.titleWhite span {
  font-size: 24px;
  line-height: 32px;
  margin-left: 16px;
}

/* 分子 */
.course {
  padding-left: 16px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.course li {
  margin-bottom: 32px;
}

.course .course__point {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #96A9C4;
  margin-right: 16px;
  position: relative;
}

.course .course__point::before {
  content: '';
  position: absolute;
  left: 8px;
  top: 8px;
  display: inline-block;
  height: 68px;
  border-left: 1px solid #96A9C4;
}

.course li:last-child .course__point::before {
  display: none;
}

/* 組織 */
header h1 {
  font-size: 80px;
  line-height: 90px;
  border-bottom: 2px solid #000;
  padding-bottom: 24px;
  margin-bottom: 48px;
}

header img {
  margin-bottom: 48px;
}

.profile {
  margin-bottom: 72px;
}

.profile div {
  padding-left: 48px;
}

.profile p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.profile p:first-child {
  margin-bottom: 20px;
  text-indent: -32px;
}

.profile p:first-child::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #96A9C4;
  margin-right: 16px;
}

.education {
  margin-bottom: 72px;
}

.skill {
  position: relative;
}

.skill .skill__bg {
  background-color: #96A9C4;
  height: 360px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.skill .skill__layout {
  background-color: #415165;
  padding: 24px 102px 56px;
  text-align: center;
  margin-bottom: 72px;
}

.skill .skill__layout h2 {
  width: 100%;
}

.skill .skill__layout div {
  display: inline-block;
  padding-left: 24px;
  border-left: 1px solid #fff;
  color: #fff;
  text-align: left;
}

.skill .skill__layout div p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 16px;
}

.skill .skill__layout div p:last-child {
  margin-bottom: 0;
}

.work {
  margin-bottom: 72px;
}

.work .work__content {
  margin-left: 24px;
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
}

.work .work__content .work__content__group {
  margin-bottom: 32px;
}

.work .work__content .work__content__group h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  font-weight: 500;
  margin-bottom: 8px;
}

.work .work__content .work__content__group img {
  margin-bottom: 8px;
}

.work .work__content .work__content__group p {
  max-width: 642px;
  font-size: 20px;
  line-height: 30px;
}

footer {
  padding-top: 30px;
  padding-bottom: 48px;
  background-color: #415165;
  text-align: center;
  color: #fff;
}

footer p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 16px;
}

footer p a {
  text-decoration: none;
  color: #fff;
}

footer .footer__imgs {
  font-size: 0;
}

footer .footer__imgs a {
  margin-right: 24px;
}

footer .footer__imgs a:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=index.css.map */