@import "reset";
@import "for";
/* 變數 */

$dark-blue: #415165;
$light-blue: #96A9C4;
$red: #891818;

//---
$main-color: $dark-blue;
$sec-color: $red;
$import-color: $red;



/* 共用設定 */
// *{
//     // outline: 1px solid red;
// }

body{
    font-family: 'Roboto', Microsoft JhengHei, sans-serif;
    font-size: 24px;
    line-height: 42px;
}


.flex-c{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-sb{
    display:flex;
    justify-content: space-between;
}
.fw-w{
    flex-wrap: wrap;
}

.wrap{
    // max-width: 1920px;
    margin: 0 auto;
}

h1{
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    line-height: 94px;
    color: #fff;
}

/* 原子 */
//標題
@mixin _title{
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

.title{
    @include _title;
}

.titleWhite{
    @include _title;
    color: #fff;
}

// 描述
@mixin _describe{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.describe{
    @include _describe;
}

.describeWhite{
    @include _describe;
    color: #FFF;
}

/* 組織 */
.header{
    height: 960px;
    background-image: url(../img/bg-header.png);
    background-size: cover;
    background-position: center center;
    .header__container{
        h1{
            span{
                display: block;
                font-size: 24px;
                height: 28px;
                line-height: 48px;
            }
        }
        .mediaList{
            li{
                width: 60px;
                height: 60px;
                margin-right: 16px;
                a{
                    display: block;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}

.about{
    text-align: center;
    flex-direction: column;
    .about__human{
        padding-bottom: 32px;
        border-bottom: 1px solid #000000;
    }
    .about__list{
        li{
            @include _describe;
            &::before{
                content: '';
                display: inline-block;
                vertical-align: center;
                width: 22px;
                height: 22px;
                margin-right: 16px;
                border-radius: 50%;
                background-color: $sec-color;
            }
        }
    }
}

.brand{
    background-color: #000;
    padding-top: 64px;
    padding-bottom: 160px;
    .describeWhite{
        font-weight: normal;
        &:nth-child(3){
            font-size: 20px;
        }
    }
    .brand__list{
        li:first-child{
            width: 100%;
            text-align: center;
        }
        li:nth-child(2){
            margin-right: 24px;
        }
    }
}

.work{
    position: relative;
    padding-top: 72px;
    padding-bottom: 160px;
    background-image: url(../img/bg-work.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    .work__bg{
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    .describe{
        font-weight: normal;
        font-size: 20px;
    }
    .work__list{
        width: 1200px;
        margin: 0px auto;
        li{
            margin-bottom: 58px;
            &:nth-child(6), &:nth-child(7), &:nth-child(8){
                margin-bottom: 0;
            }
        }
        .describeWhite{
            height: 28px;
            font-size: 20px;
            font-weight: normal;
        }
    }
}

.footer{
    padding-top: 64px;
    padding-bottom: 80px;
    background-color: #000;
    .describeWhite{
        font-weight: normal;
        line-height: 36px;
    }
}